@font-face {
    font-family: "Swiss Med";
    src: url("fonts/SwissBTMed.woff") format("woff");
}
@font-face {
    font-family: "Swiss Condensed";
    src: url("fonts/SwissBTBolCon.woff") format("woff");
}
@font-face {
    font-family: "Swiss Outlines";
    src: url("fonts/SwissBTBolConOut.woff") format("woff");
}
*,*:before, *:after { margin:0; padding:0; box-sizing:border-box; 
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
body {
    background-image: linear-gradient(rgba(39, 39, 39, .9), rgba(39, 39, 39, .9) ), url(images/slate1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom right;
    background-attachment:fixed;
    color: #888;
    font-family:"Swiss Med", sans-serif;
    font-size:18px;
    line-height:1.3;
    min-height: 100vh;
    padding: 1em;
}
.wrapper {
    max-width:600px;
    margin:auto;
    text-align: center;
}
input, label, button {
    font:inherit;
}
button {
    cursor:pointer;
}
input:focus, label:focus, button:focus {
    outline:none;
}
#searchBar {
    background: #888888;
    border-radius: .25em;
    position: sticky;
    top:1em;
}
#searchBar input {
    background: none;
    border: none;
    padding:1em;
    width:100%;
}
#searchBar label {
    color:black;
    cursor: text;
    position:absolute;
    top:50%;
    left:1em;
    transform:translateY(-50%);
}
#searchBar input:focus + label, #searchBar input:valid + label {
    color:rgba(0,0,0,0);
}
#searchBar button {
    background: #747474;
    border:none;
    border-radius: .25em;
    position:absolute;
    top: 0;
    right:0;
    height:100%;
    width:4em;
    z-index: 1;
}
/* removed unwanted plotly styles */
svg.main-svg {
    background: none !important;
}
path.xgrid.crisp, path.ygrid.crisp {
    stroke: #747474 !important;
}
text {
    fill: #888 !important;
}
g.draglayer.cursor-crosshair, .modebar-container {
    display: none;
}
/* SVG styling */
svg {
    fill: inherit;
}
#currentWeatherPanel {
    margin: 2em 0;
    text-align: center;
}
#currentWeatherPanel h2 {
    font-size: 3em;
}
#currentWeatherPanel > p {
    display:inline-block;
    margin:0 1em;
}
#currentWeatherPanel div, #currentWeatherPanel img {
    display: block;
    color: #ff652f;
    fill: #ff652f;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.5em;
}
.currentTemp span {
    font-size: 4em;
    font-family:"Swiss Outlines", sans-serif;
    line-height: .9;
    vertical-align: top;
}
.currentTemp {
    font-size: 2em;
}
.searchResult {
    cursor: pointer;
    list-style: none;
    background: #14a76c;
    border-radius:.25em;
    color: black;
    padding: 1em;
    margin: .5em 0;
    text-transform:capitalize;
}
#clearHistoryBtn {
    background: black;
    color: #888;
    border: none;
    display: inline-block;
    margin: 1em 0;
    padding: .5em 1em;
}
#recentHistoryPanel {
    margin-top: 2em;
}
#tempBlock p {
    display: inline-block;
    font-size:1.5em;
    margin-right: .5em;
}
#tempBlock {
    margin-bottom: 1em;
}
#fiveDayPanel, #recentHistoryPanel, #currentWeatherPanel {
    display: none;
    opacity:0;
}
.fiveDay #fiveDayPanel, .recentHistory #recentHistoryPanel, .current #currentWeatherPanel {
    display:block;
    opacity:1;
}
#options {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}
#options button {
    background: #888;
    float:left;
    padding:.5em;
    text-align:center;
    width:33.33%;
}
.fiveDay #fiveDayOption, .recentHistory #recentOption, .current #currentOption {
    background:blue;
}
.clearfix:after {
    content:'';
    clear:both;
    display:block;
    height:0;
}




/* UI references and presets */
.colors {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
}
.colors span {
    float:left;
    height: 1em;
    width:20%;
}
.colors span:nth-of-type(1) {
    background:#272727;
    background: #747474;
}
.colors span:nth-of-type(2) {
    background:rgb(31, 119, 180);
}
.colors span:nth-of-type(3) {
    background:#ff652f;
}
.colors span:nth-of-type(4) {
    background:#ffe400;
}
.colors span:nth-of-type(5) {
    background:#14a76c;
}
.lvl1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.5);
}
.lvl2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.lvl3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.lvl4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.lvl5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}